{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

    <style>
        /* Add some basic styling for better presentation */
        .contact-container {
            font-family: Arial, sans-serif;
            text-align: center;
            /* margin: 20px; */
        }

        .person {
            display: inline-block;
            height: 350px;
            width: 250px;
            margin: 20px;
            color: black;
            background-color: #ffffff;
            padding-left:25px;
            padding-right:25px;
            padding-top:20px; 
            padding-bottom:20px;
            border-radius: 20px; /* Adjust the value to control the roundness */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease-in-out;
        }


    </style>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(255, 255, 255);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: rgb(255, 255, 255);">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<body class="contact-container">
    <div class="ram">
        <!-- Person 1 -->
        <div class="person">
            <img src="https://media.licdn.com/dms/image/D5603AQH8xQoL34VRng/profile-displayphoto-shrink_200_200/0/1710058824032?e=2147483647&v=beta&t=1wo1i4mjvaJs_bULbnnN6_N24tpR4fkFO1Novh-6QxI"width="150" height="150", style="border-radius: 20px" >
            <!-- <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"width="150" height="150", style="border-radius: 20px" > -->
            <h2>Kishan Kumar</h2>
            <!-- <p>Email: kishan.22727@knit.ac.in</p>
            <p>Phone: +1 (555) 123-4567</p> -->
       
                <a target="_blank" href='mailto:mailkishankumar6@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/60/60543.png" height="45" width="38" ></a>
                <a target="_blank" href='https://kishank.vercel.app/'><img src="https://cdn-icons-png.flaticon.com/512/5891/5891729.png" height="37" width="37"></a>
                <a target="_blank" href='https://github.com/kishan-k9'><img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" height="35" width="35"></a>
                <a target="_blank" href='https://www.linkedin.com/in/kishan-kumar-kk/'><img src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" height="35" width="35"></a>
            </div> 
            
        <!-- Person 2 -->
       <div class="person">
            <img src="https://media.licdn.com/dms/image/D4D03AQFSMsDu-sAtXA/profile-displayphoto-shrink_200_200/0/1672329553616?e=2147483647&v=beta&t=lpNRriL3GaQhUe4b88pIzV3whhJVqjWW9pULbuME3Gg" width="150" height="150", style="border-radius: 20px">
            <h2>Rohit Kanaujiya</h2>
            <!-- <p>Email: rohit.22745@knit.ac.in</p>
            <p>Phone: +1 (555) 234-5678</p> -->
         
      
        <a target="_blank" href='mailto:rohitkanaujiya4006@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/60/60543.png" height="45" width="38"></a>
        <a target="_blank" href='https://kc8tdm.csb.app/'><img src="https://cdn-icons-png.flaticon.com/512/5891/5891729.png" height="37" width="37"></a>
        <a target="_blank" href='https://github.com/rohitkanaujiya45'><img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" height="35" width="35"></a>
        <a target="_blank" href='https://www.linkedin.com/in/rohit-kanaujiya/'><img src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" height="35" width="35"></a>
    
       </div> 
    
        <!-- Person 3 -->
        <div class="person">
            <img src="https://media.licdn.com/dms/image/D4D03AQFHwoMXFskYXA/profile-displayphoto-shrink_200_200/0/1684752106204?e=2147483647&v=beta&t=dUhpB5TBMX-r_LRPaTtdNo7qCoY5pXE8MhwwPHgJIVs"width="150" height="150", style="border-radius: 20px">
            <h2>Rudra Kannojiya</h2>
            <!-- <p>Email: rudra.22746@knit.ac.in</p>
            <p>Phone: +1 (555) 345-6789</p> -->
            
            <a target="_blank" href='mailto:rudrak1456@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/60/60543.png" height="45" width="38"></a>
            <a target="_blank" href='https://kishank.vercel.app/'><img src="https://cdn-icons-png.flaticon.com/512/5891/5891729.png" height="37" width="37"></a>
            <a target="_blank" href='https://github.com/rudrak07'><img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" height="35" width="35"></a>
            <a target="_blank" href='https://www.linkedin.com/in/rudrak07/'><img src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" height="35" width="35"></a>
       
           </div> 
        <!-- Person 4 -->
        <div class="person">
            <img src="https://media.licdn.com/dms/image/D5603AQGqkWxpXJcypQ/profile-displayphoto-shrink_200_200/0/1705169834057?e=2147483647&v=beta&t=fs_27BZSfUcoxPiBm_l2AwjoEiVeTC8Gvh2MmmzXguU"width="150" height="150", style="border-radius: 20px">
            <h2>Shalini </h2>
            <h2>Singh</h2>
            <!-- <p>Email: shalini.22749@knit.ac.in</p>
            <p>Phone: +1 (555) 345-6789</p> -->
            
            <a target="_blank" href='mailto:anyashi50@gmail.com'><img src="https://cdn-icons-png.flaticon.com/512/60/60543.png" height="45" width="38"></a>
            <a target="_blank" href='https://kishank.vercel.app/'><img src="https://cdn-icons-png.flaticon.com/512/5891/5891729.png" height="37" width="37"></a>
            <a target="_blank" href='https://github.com/'><img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" height="35" width="35"></a>
            <a target="_blank" href='https://www.linkedin.com/in/shalini-singh1117/'><img src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" height="35" width="35"></a>
       
           </div> 
    </div>
    </body>
    
{% endblock body %}